/* CLIENTES */

.landingClient	
	ruta("teclado.jpg")
	width 100%
	height 65rem
	background-position center top 
	
	& .contenedorPropa
		width 65rem
		height 100%
		top 10rem
		padding 19rem 0 0 18%
		box()
		
		& .propaTexto 
			font-size 3rem
			color blanco
			margin-bottom .2rem
			
			& span
				font-size 3.5rem
				font-weight bold
				
.landingZone
	ruta("zone.jpg")
	width 100%
	height 65rem
	background-position center bottom
	
	& .contenedorPropa
		width 65rem
		height 100%
		top 10rem
		padding 19rem 0 0 18%
		box()
		
		& .propaTexto 
			font-size 3rem
			color blanco
			margin-bottom .2rem
			
			& span
				font-size 3.5rem
				font-weight bold
				
label 
	color blanco

.panelFormulario
	color gris
	font-size 2.5rem
	text-align center
	padding-top 3rem
	box()
	
	& strong
		color celeste
		
#map 
	height  400px
	margin  20px 0
	border-radius  5px
	border  1px solid silver
	
.datos
	padding .6rem 0 
	
	& p 
		padding .6rem 0 
		color alpha(blanco,20%)
		
	& strong 
		color alpha(blanco,70%)
		
.mensajes
	color alpha(blanco,50%)
	padding 1rem 0
				
/* CLIENTES FINAL */