/* INICIO */

.separadorTop
	height 64px
	
.inicio-img
	width 100%
	height 888px
	background-image url('../images/inicio.jpg')
	background-position center
	
.contenedorPropa
	position absolute
	//background-color red
	max-width 500px
	font-size 40px
	color blanco
	top 130px
	left 15%
	font-weight 300
	
	& span 
		font-size 60px
		
	& i 
		font-size 60px
		
	& a 
		margin-top 25px
		
	& a:hover 
		background-color alpha(principal,80%)

.promosContenedor
	padding-top 70px
	
.promo
	padding 0 10px
	color blanco

	& i 
		font-size 90px
		color alpha(principal,90%)
		
	& span 
		font-size 30px
		display block
		font-weight 300
		
	& p 
		font-size 20px
		font-weight 200

blockquote
	border-color principal
	
.section a:hover 
	background-color rojo
	
#modal2 
	background-color negro
	color blanco
	
	& a 
		bottom 15px
		right 15px
		
.box 
	box()

	
/* FIN INICIO */