@media screen and (max-width 800px)

	.separadorTop
		height 54px
	
	.inicio-img
		height 600px
		background-image url('../images/inicio.jpg')
		
	.titulo
		font-size 34px !important
		margin-left 0px
		
	.contenedorPropa
		font-size 30px
		
		& span 
			font-size 50px