/* PIE */

.footer-copyright .container p 
	line-height 25px
	color negro4
	font-size 13px
	
	& a
		color alpha(blanco,50%)
	
footer
	color alpha(principal,90%) !important
	
	& i
		color blanco
		
	& p 
		color lighten(principal,30%) !important
		
	& a 
		color alpha(blanco,70%)
		tra(.3s)
		
	& a:hover 
		background-color lighten(principal,10%) !important
		
	& .fooActive 
		color alpha(principal,90%) !important
		pointer-events none
		
/* FIN PIE */