/* VARIABLES */

blanco = rgba(255,255,255,1.00)

gris = rgba(122,122,122,1.00)

gris2 = #1d1d1d

negro = #000000

negro2 = rgba(21,21,21,1.00)

negro3 = rgba(46,46,46,1.00)

negro4 = rgba(95,95,95,1.00)

celeste = #00b5ff

celeste2 = #00aeef

azul = #2d3a43

verde = #1bbc9b

verde2 = #88e3cd

rojo = #f25648

amarilloClaro = #e9f0bd

amarillo = #f3d45f

naranja = #f7815b

rosa = #a13a55

rosaClaro = #f13e7b

violeta = #55305b

principal = rosaClaro


tra(datos)
	-webkit-transition: all (datos) 
	-moz-transition all (datos) 
	-ms-transition all (datos) 
	-o-transition all (datos) 
	transition all (datos)

rot1 = rotate+'('

rot2 = ')'

rot(grados)
	-webkit-transform: rot1+grados+rot2  
	-moz-transform rot1+grados+rot2  
	-ms-transform rot1+grados+rot2 
	-o-transform rot1+grados+rot2  
	transform rot1+grados+rot2 

box()
	box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box

boxShadow(datos)
	box-shadow datos
	-o-box-shadow datos
	-ms-box-shadow datos
	-moz-box-shadow datos
	-webkit-box-shadow datos

textShadow(datos)
	text-shadow datos
	-o-text-shadow datos
	-ms-text-shadow datos
	-moz-text-shadow datos
	-webkit-text-shadow datos
	
bordesCirculares(datos)
	border-radius datos
	-o-border-radius datos
	-ms-border-radius datos
	-moz-border-radius datos
	-webkit-border-radius datos

ruta1 = url+'("/images/'

ruta2 = '")'

ruta(dire)
	background-image ruta1+dire+ruta2
